body {
	background-image: url(../images/bg.jpg);
	background-position: center center;
	background-size: cover;

	/*Specific browser size
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;*/

	background-repeat: no-repeat;
	color: #000000;
	height: 100vh;
	
}

h1 {
	font-size: 40px;
	background-color: rgba(55,71,0,1);
	text-transform: uppercase;
	margin-bottom: 0; 
	letter-spacing: 10px; /*space between letter*/
	font-family: 'Crete Round', serif;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 5px;
	color: yellow;
	background-color: rgba(55,71,0,0.6);
	font-family: 'Permanent Marker', cursive;

}

#me {
	height: 250px;
	width: 400px;
	border-radius: 50%;
	border-width: 10px;
	border-style: solid;
	border-color: white;
	margin-top: 50px;

}

.bio{
	width: 100%;
	font-size: 18px;
	line-height: 1.5; /*space between lines of text*/
	background-color: rgba(55,71,0,1);
	color: #fff;

	/*whole class will be affected with opacity
	background-color: #333;
	opacity: 50%;*/

	font-family: 'Baloo Bhaijaan', cursive;
}

.container{
	width: 500px;
	margin: 0 auto;
	text-align: center;

}